<!-- index.html -->

<head>
    <style>

        #canvasContainer {
            width: 100%;
            height: 100%;
        }

        canvas {
            padding: 0;
            margin: auto;
            display: block;
        /* width: 1280px;
            height: 720px; */
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        body {
            overflow: hidden;
            margin: 0px;
            padding: 0px;
        }

        body,
        html {
            /*position: fixed;*/
            -webkit-user-select: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0); 
        } 

    </style>
</head>

<script src="ivanets/jslib/threejs/three.js"></script>
<script src="ivanets/jslib/gl-matrix/gl-matrix.js"></script> 
<script src="main.js"></script> 

<div id="canvasContainer">

</div>